@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?45496543');
  src: url('../font/fontello.eot?45496543#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?45496543') format('woff'),
       url('../font/fontello.ttf?45496543') format('truetype'),
       url('../font/fontello.svg?45496543#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?45496543#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-resize-full:before { content: '\e83f'; } /* '' */
.icon-minus:before { content: '\e83e'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e807'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-help-circled:before { content: '\e810'; } /* '' */
.icon-info-circled:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-link:before { content: '\e80e'; } /* '' */
.icon-lock:before { content: '\e80c'; } /* '' */
.icon-lock-open:before { content: '\e80b'; } /* '' */
.icon-eye:before { content: '\e80a'; } /* '' */
.icon-tag:before { content: '\e809'; } /* '' */
.icon-bookmark:before { content: '\e811'; } /* '' */
.icon-download:before { content: '\e812'; } /* '' */
.icon-upload:before { content: '\e813'; } /* '' */
.icon-upload-cloud:before { content: '\e814'; } /* '' */
.icon-reply:before { content: '\e815'; } /* '' */
.icon-reply-all:before { content: '\e816'; } /* '' */
.icon-forward:before { content: '\e817'; } /* '' */
.icon-quote:before { content: '\e818'; } /* '' */
.icon-code:before { content: '\e819'; } /* '' */
.icon-export:before { content: '\e81a'; } /* '' */
.icon-pencil:before { content: '\e81b'; } /* '' */
.icon-comment:before { content: '\e81c'; } /* '' */
.icon-chat:before { content: '\e820'; } /* '' */
.icon-resize-small:before { content: '\e840'; } /* '' */
.icon-trash:before { content: '\e81d'; } /* '' */
.icon-newspaper:before { content: '\e81e'; } /* '' */
.icon-folder:before { content: '\e821'; } /* '' */
.icon-rss:before { content: '\e822'; } /* '' */
.icon-cog:before { content: '\e823'; } /* '' */
.icon-calendar:before { content: '\e824'; } /* '' */
.icon-clock:before { content: '\e825'; } /* '' */
.icon-down-open:before { content: '\e826'; } /* '' */
.icon-left-open:before { content: '\e827'; } /* '' */
.icon-right-open:before { content: '\e828'; } /* '' */
.icon-up-open:before { content: '\e829'; } /* '' */
.icon-down-open-mini:before { content: '\e82a'; } /* '' */
.icon-left-open-mini:before { content: '\e82b'; } /* '' */
.icon-right-open-mini:before { content: '\e82c'; } /* '' */
.icon-up-open-mini:before { content: '\e82d'; } /* '' */
.icon-down-open-big:before { content: '\e82e'; } /* '' */
.icon-left-open-big:before { content: '\e82f'; } /* '' */
.icon-right-open-big:before { content: '\e830'; } /* '' */
.icon-up-open-big:before { content: '\e831'; } /* '' */
.icon-ccw:before { content: '\e833'; } /* '' */
.icon-arrows-ccw:before { content: '\e834'; } /* '' */
.icon-globe:before { content: '\e832'; } /* '' */
.icon-flash:before { content: '\e835'; } /* '' */
.icon-chart-bar:before { content: '\e836'; } /* '' */
.icon-megaphone:before { content: '\e837'; } /* '' */
.icon-flow-tree:before { content: '\e838'; } /* '' */
.icon-cc:before { content: '\e83a'; } /* '' */
.icon-cc-by:before { content: '\e83b'; } /* '' */
.icon-cc-nc:before { content: '\e83c'; } /* '' */
.icon-cc-sa:before { content: '\e83d'; } /* '' */
.icon-github:before { content: '\e839'; } /* '' */
.icon-location:before { content: '\e81f'; } /* '' */