html,body,.window{
  padding:0;

  margin:0;
}
.window{
  font-family: Arial;
  overflow: hidden;
}
h1{
  font-size: 20px;
  font-weight: bold;
  margin:5px 0 5px;
}
small{
  font-size: 10px;
}
.content{
  padding:3px;
  background:#222222;
  color:#ffffff;
  border-radius: 3px;
  width:350px;
  height:78px;
  margin:10px 0 10px;
  -webkit-transition:all 0.2s linear;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  float:left;
  text-shadow: 1px 1px 5px #222222;
  border: 1px solid rgba(0,0,0,0.5);
  border-bottom: 3px solid rgba(0,0,0,0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.25);
  -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
        overflow: auto;
}
.menu{
  float:left;
  margin-left: 10px;
}
.menu li{
  padding:3px;
  background:#222222;
  opacity:0.8;
  color:#ffffff;
  font-size: 13px;
  width:130px;
  line-height: 16px;
  border-radius: 3px;
  margin:10px 0 10px;
  -webkit-transition:all 0.2s linear;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  cursor:pointer;

}
.menu li:hover{
  background:#2F63E4;
}

.javascriptExamples ul li:hover{
  background:#2F63E4;
}

.javascriptExamples h1{
  padding:3px;
  background:#222222;
  opacity:0.8;
  color:#ffffff;

  border-radius: 3px;
  -webkit-transition:all 0.2s linear;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  font-size: 15px;
  font-weight: bold;
  font-family: Arial;
  text-shadow: 1px 1px 5px #222222;
  border: 1px solid rgba(0,0,0,0.5);
  border-bottom: 3px solid rgba(0,0,0,0.5);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.25);
  -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
}

.javascriptExamples ul li{
  padding:3px;
  background:#222222;
  opacity:0.8;
  color:#ffffff;
  border-radius: 3px;
  margin:5px 0;
  -webkit-transition:all 0.2s linear;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  cursor:pointer;

  -webkit-transition:all 0.2s linear;

}

.content:hover,header:hover,footer:hover{
  opacity:1;
}
header{
  padding:3px;
  background:#222222;
  opacity:0.8;
  color:#ffffff;
  cursor:move;
  border-radius: 3px;
  -webkit-transition:all 0.2s linear;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  font-size: 15px;
  font-weight: bold;
  font-family: Arial;
    text-shadow: 1px 1px 5px #222222;
  border: 1px solid rgba(0,0,0,0.5);
  border-bottom: 3px solid rgba(0,0,0,0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.25);
  -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
}
footer{
  padding:3px;
  background:#222222;
  opacity:0.8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  color:#ffffff;
  border-radius: 3px;
   -webkit-transition:all 0.2s linear;
     text-shadow: 1px 1px 5px #222222;
  border: 1px solid rgba(0,0,0,0.5);
  border-bottom: 3px solid rgba(0,0,0,0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.25);
  -webkit-box-shadow: 
        0 2px 8px rgba(0,0,0,0.5),
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 10px rgba(255,255,255,0.2),
        inset 0 10px 20px rgba(255,255,255,0.25),
        inset 0 -15px 30px rgba(0,0,0,0.3);
   
}
.toolbar li{
  float:left;
  cursor:pointer;
  padding:5px;
  -webkit-transition:all 0.2s linear;
}
.toolbar li:hover{
  background:#2F63E4;
}
.toolbar li:last-child:hover{
  background:#D71717;
}

.titleBar{
  float:left;
  padding:5px;
}
.toolbar{
   float:right;
   background:#222222;
   color:#ffffff;
   margin-right: 5px;
}
.clear{
  clear:both;
}
.strong{
  font-weight: bold;
  font-size: 12px;
}
a{
  color:#ffffff;
}